@import "./../../../toolbox/styles/_color"

.c-button-outlined-small, .c-button-outlined-large
    background: $color-white
    padding: 12px 30px
    color: var(--color-primary)
    font-size: 14px
    line-height: 14px
    font-weight: 500
    font-family: Lato
    border: 1px solid var(--color-primary)
    border-radius: 8px
    cursor: pointer
    transition: all 0.3s ease
    &:hover
        background: rgba($color-gray-soft ,0.5 )
    &:active
        background: rgba(var(--color-primary) ,0.5 )
.c-button-outlined-large
    width: 100%

.c-button-contained
    background: var(--color-primary)
    padding: 10px 25px
    color: $color-white
    font-size: 14px
    font-weight: 700
    line-height: 14px
    letter-spacing: 0.8px
    font-family: Lato !important
    border: 1px solid var(--color-primary)
    border-radius: 8px
    cursor: pointer
    box-sizing: border-box
    transition: all 0.5s ease
    padding: 20px 32px
    *
        color: var(--color-white)
        text-decoration: none
    &:hover
        background: var(--color-red)
    &:active
        background: var(--color-red)

.c-button-contained-action
    background: rgba(var(--color-primary), 0.2)
    padding: 10px
    color: var(--color-primary)
    font-size: 14px
    font-weight: 600
    font-family: sans-serif
    border: 1px solid var(--color-primary)-ligth
    border-radius: 8px
    cursor: pointer
    transition: all 0.5s ease
    &:hover
        background: rgba(var(--color-primary) ,0.4 )
    &:active
        background: rgba(var(--color-primary) ,0.5 )

@media screen and ( min-width: 600px )
    .c-button-outlined-large
        padding: 15px