body{
    overflow: hidden;
}
.c-pwa__wrapper{
    font-family: 'Ubuntu';
    position: absolute;
    top: 40px;
    right: 40px;
    animation: show_toast 1s ease forwards;
    z-index: 100;
}
@keyframes show_toast {
    0%{
        transform: translateX(-100%);
    }
    40%{
        transform: translateX(10%);
    }
    80%, 100%{
        transform: translateX(0);
    }
}
.c-pwa__wrapper.hide{
    animation: hide_toast 1s ease forwards;
}
@keyframes hide_toast {
    0%{
        transform: translateX(20px);
    }
    40%{
        transform: translateX(10%);
    }
    80%, 100%{
        opacity: 0;
        pointer-events: none;
        transform: translateX(-100%);
    }
}
.c-pwa__wrapper .toast{
    background: #fff;
    padding: 16px 12px 20px 20px;
    border-radius: 10px;
    border: 1px solid #e5e5e5;
    border-left: 5px solid #148D30;
    box-shadow: 1px 7px 14px -5px rgba(0,0,0,0.4);
    width: 430px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.c-pwa__wrapper .toast.offline{
    border-color: #ccc;
}
.toast .c-pwa__content{
    display: flex !important;
    align-items: center;
}
.c-pwa__content .icon{
    font-size: 25px;
    color: #fff;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
}
.toast.offline .c-pwa__content .icon{
    background: #ccc;
}
.c-pwa__content .details{
    margin-left: 15px;
}
.details span{
    font-size: 20px;
    font-weight: 500;
}
.details p{
    margin-top: 5px;
    color: #878787;
}
.toast .close-icon{
    color: #878787;
    font-size: 23px;
    cursor: pointer;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    background: #f2f2f2;
    transition: all 0.3s ease;
}
.close-icon:hover{
    background: #efefef;
}
img {
    width: 100%;
}