.p-greeting
    padding-top: 64px
    display: flex
    width: 100%
    height: 100vh
    box-sizing: border-box
    .c-button-contained
        width: 100%
        max-width: 296px
.p-greeting__navbar
    background: white !important
    border: 1px solid var(--color-gray-br)
.p-greeting__parent
    width: 100%
    display: flex
    flex-direction: row
.p-greeting__first-content
    background: var(--color-gray-soft)
    position: relative
    min-width: 418px
    padding-top: 86px
    svg
        position: absolute
        left: 100px
.p-greeting__second-content
    box-sizing: border-box
    width: 100%
    padding: 50px 32px
    padding-top: 96px
    display: flex
    justify-content: center
    .p-greeting__body
        width: 100%
        height: 100%
        max-width: 480px
.p-greeting__md-icon
    display: none
.p-greeting__mailer
    font-family: Roboto
    font-style: normal
    font-weight: 300
    font-size: 16px
    line-height: 28px
    color: var(--color-span)
    margin-top: 24px
    margin-bottom: 40px
    div
        font-weight: 400

@media only screen and ( max-width: 768px )
    .p-greeting__parent
        flex-direction: column
    .p-greeting__md-icon
        display: block
    .p-greeting__xl-icon
        display: none
    .p-greeting__first-content
        display: flex
        justify-content: flex-end
        padding-top: 0
        min-width: initial
        svg
            position: initial
    .p-greeting__second-content
        padding: 50px 32px
    .p-title__secure
        font-size: 26px
        line-height: 36px

@media only screen and ( min-width: 769px ) and ( max-width: 1095px )
    .p-greeting__first-content
        min-width: 300px
        padding-top: 28px
        svg
            position: absolute
            width: 360px
            left: 25px
    .p-greeting__second-content
        padding: 60px 40px 50px 88px
@media only screen and ( min-width: 1326px )
    .p-greeting__navbar
        background: white
        border: 2px solid var(--color-gray-br)
    .p-greeting__first-content
        min-width: 480px
        position: relative
        padding-top: 96px
        svg
            position: absolute
            left: 130px
            width: 480px
    .p-greeting__first-content,
    .p-greeting__second-content
        padding-top: 110px