.c-cotizate
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    width: 160px
    padding: 16px
    border-radius: 8px
    border: 1px solid var(--color-gray-4)
    box-sizing: border-box
    h1
        color: var(--color-gray)
    button
        cursor: pointer
        border: none
        color: var(--color-secondary)
        font-size: 18px
        background: var(--color-white)
        &:hover, &:active, &:focus
            background: var(--color-gray-soft)
            