$color-white          : #FFFFFF
$color-black          : #000000

$color-gray-soft      : #EAEAEA
$color-main           : #004A8C
$color-green           : #148D30
$color-green-ligth           : #D0E8D6

html:root
    --color-secondary  : #6F7DFF
    --color-primary    : #EF3340
    --color-red        : #FF164E
    --color-red-3      : #FC606B
    
    --color-white      : white
    --color-gray       : #494F66

    --color-span       : #676F8F
    --color-gray-light : #A3ABCC
    --color-gray-soft  : #F7F8FC
    --color-gray-br    : #E4E8F7

    --color-gray-4     : #C5CBE0
    --color-gray-6     : #F0F2FA
    
    --color-green-2    : #43B748
    

