.p-title__secure
    font-size: 36px
    line-height: 48px
    letter-spacing: -0.2px
    color: var(--color-primary)
    *:nth-child(2n+1)
        color: var(--color-gray)
    &.--reverse
        color: var(--color-gray)
        *:nth-child(2n+1)
            color: var(--color-primary)
@media only screen and ( max-width: 768px )
    .p-title__secure
        font-size: 26px
        line-height: 36px
@media only screen and ( min-width: 1326px )
    .p-title__secure
        font-size: calc(34px + 1vmin)