.c-navbar__content
    position: fixed
    width: 100%
    height: 64px
    top: 0
    display: flex
    align-items: center
    justify-content: space-between
    background: var(--color-white)
    padding: 0 120px
    box-sizing: border-box
    z-index: 3
    .--desktop
        display: flex
    .--mobile
        display: none

.c-navbar__call
    color: var(--color-secondary)
    outline: none
    text-decoration: none
    display: flex
    flex-direction: row
    align-items: center
    height: 24px
    font-size: 14px
.c-navbar__call-text
    display: flex
    align-items: center
.c-navbar__call-user
    display: flex
    flex-direction: row
    align-items: center
.c-navbar__ask
    font-size: 12px
    color: var(--color-span)
    margin-right: 23px
.c-navbar__telephone
    width: 19px
    height: 19px
    fill: var(--color-secondary)
    margin-right: 5px
    svg
        width: 100%
        height: 100%


@media only screen and ( max-width: 768px )
    .c-navbar__content
        padding: 0 32px
        background: var(--color-gray-soft) !important
        .--desktop
            display: none
        .--mobile
            display: flex
    .c-navbar__logo-rimac
        width: 92px
        svg
            width: 92px
@media only screen and ( min-width: 769px ) and ( max-width: 1023px )
    .c-navbar__content
        padding: 0 72px
@media only screen and ( min-width: 1326px )
    .c-navbar__telephone
        width: 24px
        height: 24px
    .c-navbar__logo-rimac
        width: calc(110px + 2vmin)
        height: 24px
    .c-navbar__ask
        font-size: calc(7px + 1vmin)
    .c-navbar__call
        font-size: calc(10px + 1vmin)