.MuiPaper-elevation4
    box-shadow: none !important
.MuiTab-root
    font-family: Lato
    font-style: normal
    font-weight: bold
    font-size: 11px !important
    line-height: 14px !important
    display: flex
    align-items: center
    text-align: center
    letter-spacing: 0.8px
    text-transform: uppercase
.MuiAppBar-colorDefault
    border-bottom: 1px solid var(--color-gray-br)
.MuiBox-root
    overflow: auto
@media (min-width: 600px)
    .MuiTab-root
        min-width: 100px !important