.MuiLinearProgress-root
    height: 6px !important
    border-radius: 6px
.p-home
    padding-top: 64px
    display: flex
.p-home__aside
    min-width: 408px
    background: var(--color-gray-soft)
    min-height: calc(100vh - 64px)
    display: flex
    justify-content: center
    padding: 48px 0 0 64px
    box-sizing: border-box
.p-home__aside-wizard
    width: 224px
.p_home__progress
    height: 40px
    width: 24px
    box-sizing: border-box
    display: flex
    justify-content: center
    margin: 4px 0
    &::after
        content: ""
        display: block
        height: 100%
        width: 0
        border: 1px dashed var(--color-gray-br)
        border-spacing: 20
.p-home__aside-back
    border: 2px solid var(--color-gray-6)
    box-sizing: border-box
    border-radius: 50%
    width: 24px
    height: 24px
    background: transparent
    display: flex
    align-items: center
    justify-content: center
    padding: 0
    cursor: pointer
    transition: .3s ease all
    i
        display: flex
        align-items: center
        justify-content: center
    i svg, svg
        width: 100%
        height: 100%
        fill: var(--color-gray-br)
        transition: .3s ease all
    &:hover,
    &:focus
        border-color: var(--color-red-3)
        i svg, svg
            fill: var(--color-primary)
.p-home__aside-mobile-step
    display: none
    letter-spacing: 0.8px
    font-weight: 700
    color: var(--color-span)
    p
        margin-left: 12px
        margin-right: 16px
.p-home__navbar,
.p_home__footer
    background: white !important
    border: 1px solid var(--color-gray-br)
.p_home__footer
    display: none
.p-home__bubble
    display: flex
    flex-direction: row
    div
        width: 24px
        height: 24px
        border-radius: 50%
        display: flex
        align-items: center
        justify-content: center
        background: var(--color-secondary)
        font-weight: 700
        color: var(--color-white)
        transition: .4s ease all
    h3
        display: flex
        align-items: center
        justify-content: center
        font-size: 16px
        color: var(--color-gray)
        margin-left: 16px
        transition: .4s ease all
    &[aria-disabled=true]
        h3
            color: var(--color-gray-light)
        div
            border: 1px solid #C5CBE0
            color: #C5CBE0
            background: transparent

.p-home__vehicle-data,
.p-home__build-plan
    width: 100%
    height: 100%
    padding: 48px 48px 0 96px
    box-sizing: border-box
    position: relative
.p-home__slide
    width: 100%
    overflow: hidden
    > *
        transform: translate(0, 0)
        animation-duration: .3s
        animation-timing-function: ease-in-out
        animation-name: slidein
.p-home__form
    .p-title__secure
        margin-top: 16px
.p-home__back-step
    display: flex
    align-items: center
    border: none
    background: transparent
    .p-home__aside-back
        margin-right: 16px
    span
        color: var(--color-gray-light)
.p-home__complete-text
    font-family: Roboto
    font-style: normal
    font-weight: normal
    font-size: 16px
    line-height: 28px
    color: var(--color-span)
.p-home__select-vehicle
    display: flex
    width: 100%
    justify-content: flex-start
    margin-top: 32px 
    .p-home__selects
        width: 100%
        max-width: 384px
        margin-right: 64px
    .MuiAutocomplete-root
        width: 100% !important
        margin-bottom: 16px
.p-home__chips
    width: 100%
    height: 170px
    max-width: 384px
    margin-right: 20px
    background: #FFFFFF
    padding: 32px
    border: 3px solid var(--color-gray-6)
    box-sizing: border-box
    border-radius: 12px
    position: relative
    h4
        font-family: Roboto
        font-style: normal
        font-weight: normal
        font-size: 12px
        line-height: 20px
        letter-spacing: 0.2px
        color: var(--color-gray-light)
    button
        position: absolute
        font-family: Lato
        font-style: normal
        font-weight: bold
        font-size: 12px
        line-height: 16px
        letter-spacing: 0.6px
        text-transform: uppercase
        color: var(--color-secondary)
        border: none
        background: transparent
        padding: 0
        margin: 0
        cursor: pointer
        &:hover
            background: var(--color-gray-soft)
    .p-home__chips-panel
        width: calc(100% - 80px)
        height: 100%
    .p-home__chip-brand
        color: var(--color-gray)
        font-family: Lato
        font-style: normal
        font-weight: normal
        font-size: 20px
        line-height: 28px
        margin-bottom: 16px
        display: flex
        align-items: center
    .p-home__build-person
        position: absolute
        top: -20px
        right: 10px
        svg
            height: 184px
.p-home__build-plan
    .p-home__complete-text
        margin-top: 4px
.p-home__ask-gas
    width: 100%
    max-width: 384px
    display: flex
    justify-content: space-between
    align-items: center
    margin: 14px 0 30px 0
    label
        font-family: Lato
        font-style: normal
        font-weight: normal
        font-size: 16px
        line-height: 24px
        letter-spacing: 0.2px
        color: #494F66
.p-home__line
    height: 1px
    background: var(--color-gray-br)
    width: 100%
    max-width: 384px
.p-home__amount-desc
    width: 100%
    max-width: 384px
.p-home__amount-desc
    padding: 30px 0 30px 0
.p-home__amount-button
    width: 100%
    button
        width: 100%
        max-width: 192px
.p-home__micelanius
    h3
        color: var(--color-gray)
        font-size: 12px
        line-height: 16px
        letter-spacing: 0.6px
        text-transform: uppercase
        font-weight: 700
    .p-home__line
        margin-top: 16px
        margin-bottom: 16px
        position: relative
.p-home__amount-aside
    display: flex
    justify-content: space-between
.p-home__amount-checks
    font-family: Roboto
    font-style: normal
    font-weight: normal
    font-size: 14px
    line-height: 24px
    .p-home__model-text span
        color: var(--color-span)
        &.--title
            font-family: Lato
            font-style: normal
            font-weight: normal
            font-size: 16px
            line-height: 24px
            margin-bottom: 4px
            letter-spacing: 0.2px
            color: var(--color-gray)
.p-home__amount-check
    width: 14px
    height: 14px
    margin-right: 18px
    fill: var(--color-green-2)
.p-home__model
    display: flex
    justify-content: space-between
.p-home__model-text
    display: flex
    flex-direction: column
    justify-content: flex-start
    span
        font-family: Lato
        font-style: normal
        font-weight: normal
        font-size: 16px
        line-height: 24px
        display: flex
        align-items: center
        letter-spacing: 0.2px
        color: var(--color-gray)
.p-home__text-button
    width: 80px
    padding: 0
    margin: 0
    border: none
    background: transparent
    cursor: pointer
    margin-top: 16px
    a
        color: var(--color-secondary)
        text-decoration: none
.p-home__model-icon
    height: 100%
    padding: 0 20px
    box-sizing: border-box
    display: flex
    align-items: center
    justify-content: center

.p-home__amount-line
    color: var(--color-span)
    h3
        color: var(--color-gray)
        font-size: 16px
        line-height: 24px
        letter-spacing: 0.2px
    span
        font-size: 12px
.p-home__amount-line-bar
    display: inline-block
    color: var(--color-gray-br)
    margin: 0 8px
.p-home__amount-desc
    display: flex
    flex-direction: row
    justify-content: space-between
.p-home__tabs
    display: flex
    flex-direction: column
    justify-content: center
    max-width: 384px
    margin-top: -96px
    .MuiFormControlLabel-root
        margin-right: 0 !important
    h3
        width: 100%
        margin-top: 40px
        margin-bottom: 32px
        font-family: Lato
        font-style: normal
        font-weight: normal
        font-size: 20px
        line-height: 28px
        display: flex
        align-items: center
        color: var(--color-gray)
.p-home__arcicle-plan
    display: flex
    border-bottom: 1px solid var(--color-gray-br)
    overflow: hidden
    padding: 32px 0
    .p-home__article-item
        margin-left: 16px
    .p-home__aricle-plan-title
        display: flex
        h3
            margin: 0
            padding: 0
            margin-right: 20px
            font-family: Lato
            font-style: normal
            font-weight: normal
            font-size: 16px
            margin-bottom: 8px
            line-height: 24px
            letter-spacing: 0.2px
            color: var(--color-gray)
    .p-home__aricle-plan-description
        font-family: Roboto
        font-style: normal
        font-weight: normal
        font-size: 14px
        line-height: 24px
        color: var(--color-span)
        transition: .5s ease-in-out all
        max-height: 100%
        overflow: hidden
    button
        background: transparent
        border: none
        display: flex
        align-items: center
        padding: 0
        margin-top: 8px
        cursor: pointer
        color: var(--color-gray-light)
        svg
            fill: var(--color-gray-light)
    &:first-child
        padding: 0 0 32px 0
    &.--minimize
        .p-home__aricle-plan-description
            max-height: 0
        button
            margin-top: 0
            color: var(--color-secondary)
            svg
                fill: var(--color-secondary)
.p-home__base-amount
    font-family: Lato
    font-style: normal
    font-weight: normal
    font-size: 24px
    line-height: 32px
    letter-spacing: -0.2px
    color: var(--color-gray)
.p-home__footer-amount
    display: none
    justify-content: space-between
.p-home__base-mount
    font-family: Lato
    font-style: normal
    font-weight: bold
    font-size: 10px
    line-height: 16px
    letter-spacing: 0.8px
    text-transform: uppercase
    color: var(--color-gray)
@media only screen and ( max-width: 768px )
    .p-home
        flex-direction: column
        padding-bottom: 84px
    .p-home__aside
        min-width: 100% !important
        min-height: initial
        height: 48px
        padding: 0
        border: 1px solid var(--color-gray-6)
    .p-home__aside-wizard
        width: 100%
        height: 100%
        background: var(--color-white)
    .p-home__aside-desktop-step
        display: none
    .p-home__aside-mobile-step
        display: flex
        flex-direction: row
        justify-content: center
        align-items: center
        width: 100%
        height: 100%
        font-size: 16px
    .p-home__chips
        border-color: var(--color-white)
    .p-home__vehicle-data
        padding: 40px 32px 56px 32px !important
        display: flex
        justify-content: center
    .p-home__build-plan
        background: var(--color-gray-soft)
        padding: 0 !important
        display: flex
        flex-direction: column
        align-items: center
        .p-home__form
            padding: 40px 32px 56px 32px !important
            box-sizing: border-box
            margin: 0 auto
        .p-home__micelanius
            display: none
    .p-home__tabs
        width: 100%
        max-width: 480px
        margin: 0 auto
        h3
            padding: 0 32px
            margin-top: 56px
            margin-bottom: 40px
    .MuiMobileStepper-root
        width: calc( 100% - 180px )
        max-width: 250px
        padding: 0 !important
        background: transparent !important
        .MuiMobileStepper-progress
            width: 100%
    .p-title__secure
        margin-top: 0 !important
    .p-home__back-step
        display: none
    .p-home__form,
    .p-home__selects,
    .p-home__line
        width: 100%
        max-width: 480px !important
    .p-home__select-vehicle
        flex-direction: column
        max-width: 480px
    .p-home__micelanius
        margin-top: 16px
        padding: 16px 16px 12px 16px
        border-radius: 8px
        background: var(--color-gray-soft)
        .p-home__model
            flex-direction: row-reverse
            justify-content: flex-end
        .p-home__line, h3
            display: none
        .p-home__text-button
            margin-top: 4px
            font-weight: 700
            font-size: 12px
            text-align: start
        .p-home__model-text span
            margin-top: 4px
            font-size: 14px
            color: var(--color-span)
            font-family: Roboto
        .p-home__model-icon
            padding: 0 20px 0 0
            i
                svg
                    width: 48px
                    height: 48px
    .p_home__footer
        display: flex
    .p-home__amount-button
        button
            max-width: 100%
    .p-home__amount-desc
        display: flex
        flex-direction: column
        max-width: 100%
        .c-cotizate
            width: 100%
            margin-top: 16px
    .p-home__chips
        width: 100%
        max-width: 480px
    .p-home__footer-amount
        display: flex
@media only screen and ( min-width: 1326px )
    .p-home__vehicle-data,
        padding: 48px 48px 48px 116px
    .p-home__build-plan
        padding: 48px 48px 0 116px
    .p-home__navbar
        background: white
        border: 2px solid var(--color-gray-br)
    .p-home__select-vehicle
        .p-home__selects
            margin-right: 96px
    .p-home__build-plan
        .p-home__micelanius
            min-width: 324px
            margin-left: 60px

@media only screen and ( max-width: 1023px )
    .p-home__vehicle-data,
    .p-home__build-plan
        padding: 48px 48px 0 48px

    .p-home__aside
        min-width: 280px
    .p-home__select-vehicle
        margin-top: 32px 
        .p-home__selects
            width: 100%
            max-width: 384px
            margin-right: 64px

@keyframes slidein
    from
        transform: translate(100px, 0)

    to
        transform: translate(0,0)