@import "./../../toolbox/styles/_color"

.p-login__content-page
    display: flex
    flex-direction: row
    height: 100vh
    .c-button-contained
        width: 100%
        text-align: center
        max-width: 192px
        margin-top: 40px
.p-login__first
    width: 42%
    position: relative
    overflow: hidden
.p-login__content-background
    position: absolute
    height: 100%
    display: flex
    align-items: center
    justify-content: center
.p-login__svg-background
    height: 100%;
    width: initial;
    z-index: 0  
.p-login__data-background
    position: absolute
    height: 100%
    width: 320px
    right: 80px
    top: 96px
    z-index: 1
.p-login__new-car
    font-size: 12px
    font-weight: 700
    line-height: 16px
    margin-top: 24px
    letter-spacing: 0.8px
    text-transform: uppercase
    margin-bottom: 4px
    color: var(--color-gray)
.p-title__secure
    font-size: 36px
    line-height: 48px
    letter-spacing: -0.2px
    color: var(--color-gray)
    span
        color: var(--color-primary)
.p-login__paragraph
    width: 288px
    margin-top: 16px
    font-size: 14px
    line-height: 24px
    color: var(--color-span)
.p-login__svg-car.--mobile
    display: none
.p-login__form-title
    font-size: 28px
    color: var(--color-gray)
    margin-bottom: 24px
.p-login__form
    width: 58%
    height: 100%
    display: flex
    justify-content: flex-start
    align-items: flex-start
    box-sizing: border-box
    padding: 112px 112px 50px 15%
    display: flex
.p-login__form-input
    width: 100%
    margin-bottom: 16px
    &.--inline
        display: flex
        flex-direction: row
        .MuiInputBase-root
            border-top-right-radius: 0
            border-bottom-right-radius: 0
            width: 100%
        .MuiFormControl-root
            width: 100%
        .p-login__input.--right
            width: 100%
            .MuiInputBase-root
                width: 100%
                border-top-right-radius: 4px
                border-bottom-right-radius: 4px
                border-top-left-radius: 0
                border-bottom-left-radius: 0
.p-login__input
    width: 100%
.p-login__content-form
    width: 100%
    max-width: 288px
.p-login__politice
    display: flex
    flex-direction: row
    align-items: flex-start
    > span
        margin-top: 8px
        margin-left: -10px
        font-weight: 300
        font-size: 12px
        line-height: 20px
        font-family: Roboto
        letter-spacing: 0.2px
        color: var(--color-span)
        a
            color: var(--color-span)
            font-weight: 400

@media only screen and ( max-width: 768px )
    .p-login__content-page
        flex-direction: column
        .c-button-contained
            max-width: 100%
    .p-login__first
        width: 100%
        min-height: 308px
        height: 44%
        overflow: initial
    .p-login__new-car
        margin-top: 0
    .p-login__svg-car,
    .p-login__svg-background
        display: none
        &.--mobile
            display: block
            position: absolute
            width: 112px
            right: 0
            bottom: -24px
    .p-login__content-background
        width: 100%
        background: var(--color-gray-soft)
    .p-login__data-background
        width: 100%
        right: inherit
        top: 0
        padding: 96px calc(100% - 298px) 50px 32px
        box-sizing: border-box
        .p-title__secure
            font-size: 26px
            line-height: 36px
        .p-login__paragraph
            line-height: 24px
        > *
            width: 208px
    .p-login__form
        width: 100%
        padding: 50px
        justify-content: center
    .p-login__content-form
        max-width: 450px
    .p-login__form-title
        font-size: 24px

@media only screen and ( max-width: 560px )
    .p-login__form
        padding-left: 32px
        padding-right: 32px

@media only screen and ( min-width: 769px ) and ( max-width: 959px )
    .p-login__data-background
        width: 300px;
        right: 0;
        top: 12%;
@media only screen and ( min-width: 960px ) and ( max-width: 1023px )
    .p-login__data-background
        width: 300px;
        right: 6%;
        top: 11%;
@media only screen and ( min-width: 1024px ) and ( max-width: 1179px )
    .p-login__data-background
        width: 300px;
        right: 12%;
        top: 11%;
@media only screen and ( min-width: 1180px ) and ( max-width: 1259px )
    .p-login__data-background
        width: 320px;
        right: 12%;
        top: 12%;
@media only screen and ( min-width: 1261px ) and ( max-width: 1325px )
    .p-login__data-background
        width: 320px;
        right: 14%;
        top: 13%;
@media only screen and ( min-width: 1326px )
    .p-login__data-background
        width: 56%;
        right: 17%;
        top: 13%;
    .p-login__svg-car
        width: 100%
        height: initial
    .p-login__new-car
        font-size: calc(7px + 1vmin)
        margin-bottom: 8px
    .p-title__secure
        font-size: calc(34px + 1vmin)
    .p-login__paragraph
        width: 300px
        font-size: calc(7px + 1vmin)
    .p-login__form-title
        font-size: calc(22px + 1vmin)
    .p-login__form
        padding-top: 10%
    .p-login__politice
        > span
            font-size: calc(5px + 1vmin)
    .p-login__content-form
        max-width: 334px