@import "../../../toolbox/styles/_color"
.c-dialog-confirm-continer
    border-radius: 10px !important
    box-shadow: -1px 6px 8px -7px rgba(0,0,0,0.2), 0px 0px 20px 5px rgba(0,0,0,0.14) !important
    font-family: Lato
    
.c-dialog-confirm-message
    min-width: 200px !important

.c-dialog-confirm-title
    text-align: center
    font-size: 18px
    color: $color-black
    line-height: 20px
    font-family: sans-serif

.c-dialog-confirm-message
    p
        line-height: 30px
        font-size: 16px
    
.c-dialog-confirm-action
    padding: 20px 24px !important
    display: flex
    justify-content: space-around !important