.c-footer__content
    height: 76px
    width: 100%
    padding: 0 120px
    box-sizing: border-box
    position: fixed
    bottom: 0
    display: flex
    align-items: center
    justify-content: flex-start
    font-size: 12px
    color: var(--color-gray-light)


@media only screen and ( max-width: 768px )
    .c-footer__content
        padding: 0 32px
        display: none

@media only screen and ( min-width: 1326px )
    .c-footer__content
        font-size: calc(6px + 1vmin)